.login-form-container {
  /* display: flex;
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: beige;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.login-form {
  /* width: 100%; */
  align-items: center;
  background-color: beige;
  padding: 40px 70px;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.login-form h1{
  text-align: center;
  margin-bottom: 1rem;
}
  
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
    /* padding-left: 30px;
    padding-right: 30px; */
    align-items: center;
    justify-content: center;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    
  }
  
  .form-group input {
    display: block;
    width: 100%;
    padding: 8px 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: #873abb;
    border-color: #873abb;
  }

  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
  }